{
  "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "node": true
                }
            } 
        ], 
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true,
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        ]
    ],
    "plugins": [
        "inline-react-svg"
    ]
}
